<% if User.current.logged? && project.sync_with_github? %>
  <div class="box">
    <h3 class="icon icon-issue">Github</h3>
    <p><%= image_tag 'true.png' %> <%= project.name %> is connected to Github</p>
    Please remember:
    <ul>
      <li>Authorize every member with Github</li>
      <li>Contact admin for any error</li>
    </ul>
  </div>
<% end %>
