<p>
  <%= label_tag :github_status  %>
  <span class="github_status">
    <% if User.current.authorized_github? %>
    <span class="flash notice">Authorized</span>
    <% else %>
    <span>Not Authorized</span>
    <% end %>
  </span>
</p>
