<p>
  <%= label_tag :github_authorzied  %>
  <%= check_box_tag :github_authorzied,
                    nil,
                    User.current.authorized_github?,
                    disabled: true %>
</p>
